version: "2"

services:
  neo4j1:
    image: neo4j:enterprise
    networks:
      - cluster
    env_file:
      - ./common.env
    environment:
      - NEO4J_SERVER_ID=1
    ports:
      - 7474:7474

  neo4j2:
    image: neo4j:enterprise
    networks:
      - cluster
    env_file:
      - ./common.env
    environment:
      - NEO4J_SERVER_ID=2
    ports:
      - 17474:7474


networks:
  cluster:
    driver: bridge
