version: "2"

services:
  neo4j1:
    image: neo4j:enterprise
    networks:
      - cluster
    env_file:
      - ./common.env
    environment:
      - NEO4J_SERVER_ID=1
    ports:
      - 17474:7474

  neo4j2:
    image: neo4j:enterprise
    networks:
      - cluster
    env_file:
      - ./common.env
    environment:
      - NEO4J_SERVER_ID=2
    ports:
      - 27474:7474

  neo4j3:
    image: neo4j:enterprise
    networks:
      - cluster
    env_file:
      - ./common.env
    environment:
      - NEO4J_SERVER_ID=3
    ports:
      - 37474:7474

  lb:
    image: haproxy
    networks:
      - front
      - cluster
    ports:
      - 8080:7474
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg

networks:
  cluster:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: "neo4jcluster"
  front:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: "neo4jfront"
