[Unit]
Description=RabbitMQ broker
After=syslog.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/rabbitmq-server start
ExecStop=/etc/init.d/rabbitmq-server stop

[Install]
WantedBy=multi-user.target
