[Unit]
Description=Feeder Service
After=syslog.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/fd.env
ExecStart=/fd.run

[Install]
WantedBy=multi-user.target
